<div class="container" style="margin-top: 200px;">
  <div class="row">
    <div class="col-lg-4" style="border: 1px solid red">
     <%= attachment_image_tag  @cd, :cd_image, :fill, 60, 60, format: 'jpeg', fallback: "/images/no_image.jpg" %>
    </div>
    <div class="col-lg-8">
      <%= @cd.cd_genre %>
      <%= @cd.cd_label%>
      <%= @cd.cd_title %>
      
    </div>
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>
  </div>
</div>
