<div class="container">
  <div class="row">
    <div class="col-lg-4">
     
    </div>
    <div class="col-lg-8">
      <h1>行ったイベント</h1>
      <each></each>

      <h1>購入履歴</h1>
      <each></each>

    </div>
  </div>
</div>
