<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8" style="background-color: gray;">
			<h2>カートの中身</h2>
			
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>
