/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .clearfix::after {
   content: "";
   display: block;
   clear: both;
 }

 .header li{
   float: left;
   padding: 10px;
   list-style: none;
 }

 .log_in li{
   float: left;
   padding: 10px;
   list-style: none;
 }



  a:hover{
  text-decoration: none;
  opacity: 0.8;
 }


.aaa{
	display: block;
}

.cds-index{
	margin-top:250px;
}

.edit-field{
	margin-top:250px;
}
.cd-show{
	margin-top:250px;
}

.image1 {
background-image: url(/images/conor-samuel-787070-unsplash.jpg);
}
.image2 {
background-image: url(/images/alexander-popov-1163286-unsplash.jpg);
}
.image3 {
background-image: url(/images/top.jpg);
}
.image4 {
background-image: url(/images/matty-adame-326235-unsplash.jpg);
}
.image5 {
background-image: url(/images/artist.jpg);
}

#container{
  height: 600px;
}
.backcolor{
	background-color:black;
}
.main-backcolor{
    background-image: linear-gradient(-90deg, #140024, #240005);
    margin-top: 20px;
}
.media-image{
	height: 220px;
	width: 220px;
}
.event-text{
	float:left;
}

.media-title{
	font-size:40px;
	color:white;
}
.event-text{
	font-size:30px;
	color:white;
}
.main-text{
	font-size:50px;
	color:white;
	margin-bottom: 20px;
	font-family: serif;
}
.search-text{
	color:white;
	display: inline-block;
	font-family: serif;
	margin-left: 20px;
}
.event-head{
	color:white;
	margin-bottom: 30px;
	font-family: serif;
}
.event-body{
	margin-bottom: 20px;
	font-family: serif;
}
.search-btn{
	display: inline-block;
	font-family: serif;
	margin-left: 10px;
}
.back-image{
background-image: url(/images/malcolm-lightbody-720029-unsplash.jpg);
background-size:cover;
}

.event-search{
	margin-bottom: 20px;
}
.main-back{
	padding-right:0px;
	padding-left:0px;
}
.cd-text{
	font-size:20px;
	color:white;
	display: inline-block;
}
.cart-text{
	font-size:20px;
	display: inline-block;
	float:left;
}
.cd-text1{
	font-size:20px;
	color:white;
	display: inline-block;
}
.cd-price{
	font-size:20px;
	color:white;
	display: inline-block;
	margin-right:20px;
}
.cart-choice{
	float:right;
}
.simple-text{
	color:white;
	display: inline-block;
}
.admin-btn{
	display: inline-block;
	float:right;
}
.music-text{
	display: inline-block;
}
.my-page{
	margin-top:150px;
	padding-bottom:30px;
	font-size: 40px;
	text-align: center;
}
.finish-text{
	color:white;
	font-size: 60px;
	text-align: center;
}
.cd-table{
	display: block;
}