/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.event_main{
	margin-top:250px;
}

.aaa{
	display: block;
}

.cds-index{
	margin-top:250px;
}

.edit-field{
	margin-top:250px;
}
.cd-show{
	margin-top:250px;
}

.image1 {
background-image: url(conor-samuel-787070-unsplash.jpg);
}
.image2 {
background-image: url(alexander-popov-1163286-unsplash.jpg);
}
.image3 {
background-image: url(top.jpg);
}
.image4 {
background-image: url(matty-adame-326235-unsplash.jpg);
}
.image5 {
background-image: url(artist.jpg);
}

#container{
  height: 500px;
}
.backcolor{
	background-color:black;
}
.main-backcolor{
	background-color: #080C17;
}
.media-left{
	height: 220px;
	width: 220px;
}
.event-text{
	float:left;
}
.flash{
	margin-top: 100px;
}