// Place all the styles related to the cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cartpage {
	margin-top : 100px;
}

.text02 {
  display: none;
}
.text01 {
  display: block;
}